body {
    background-color: #f0ebf8;
    font-family: Arial, sans-serif;
    margin: 0;
}
.form-wrapper {
    width:650px;
    margin: 40px auto;
}
.form-header {
    background: white;
    border-radius: 8px;
    border-top: 10px solid #673ab7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}
.form-header .row-header {
  padding: 14px 24px;
  border-bottom: 1px solid #dadce0; 
}
.title {
  font-size:30px;
  font-weight:400;
  color: #202124;
}
.account {
  font-size:14px;
  color: #5f6368;
  font-weight: 900;
}
.account a{
  font-size: 15px;
  font-weight: 500;
  color: #135ad0;
}
.account a:hover{
  color:#0C3F99;
  
}
.account .description {
  color:#5f6368;
  font-size:14px;
  font-weight:500;
  padding-top:25px;
  line-height: 20px;
  text-align: justify;
}
.required-text {
  color:#d93025;
  font-size:14px;
  padding-bottom:20px !important;
  
}
.form-header .row-header:last-child {
    border-bottom: none;
}
.question-card{
  background:white;
  border-radius:8px;
  padding: 22px 24px;
  margin-bottom: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.question-title {
  display: block;
  font-size: 16px;
  color: #202124;
  margin-bottom: 10px;
}
.required {
    color: #d93025;
    margin-left: 4px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #dadce0;
    padding-top: 25px;
    padding-bottom:5px;
    font-size: 14px;
    background: transparent;
    transition: 0.2s ease;
}
.radio-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #202124;
}

.radio-group input {
  margin-right: 8px;
}
.checkbox-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #202124;
}

.checkbox-group input {
  margin-right: 8px;
}
.select-wrapper select{
  
  width: 220px;
  padding: 20px 25px 25px 15px;
  border: 1px solid #dadce0;
  border-radius: 6px;
  background-color: #f8f9fa;
  font-size: 14px;
  color: #202124;
  cursor: pointer;
  transition: 0.2s ease;
}
textarea {
  resize: none;
}
input[type="file"] {
  margin-top: 10px;
  font-size: 14px;
}

